[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
strenum = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
